.popup {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba($color: #000000, $alpha: 0.8);
   z-index: 9999;
   transition: all 0.4s ease 0s;
   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   overflow-x: hidden;
   &.open {
      opacity: 1;
      visibility: visible;
      .popup__content {
         transform: perspective(600px) translate(0px, 0%) rotateX(0);
         opacity: 1;
      }
   }

   // .popup__area
   &__area {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }

   // .popup__body
   &__body {
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 10px;
   }

   // .popup__content
   &__content {
      position: relative;
      width: 100%;
      background-color: #fff;
      padding: 30px;
      opacity: 0;
      transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
      transition: all 0.4s ease 0s;
   }

   // .popup__close
   &__close {
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 10px;
      right: 10px;
      img {
         max-width: 100%;
      }
   }

   // .popup__title
   &__title {
      @include adaptive-font(40, 18);
      line-height: 48 / 40 * 100%;
      margin: 0px 0px 20px 0px;
   }

   // .popup__text
   &__text {
   }

   .search-popup {
      position: relative;
      // .search-popup__input
      &__input {
         width: 100%;
         @include adaptive-font(18, 12);
         border-bottom: 2px solid $main-black;
         &::placeholder {
            font-size: 14px;
         }
      }

      // .search-popup__btn
      &__btn {
         display: block;
         font-size: 0;
         width: 20px;
         height: 20px;
         background: url("../img/header/search-icon.svg") no-repeat center / cover;
         cursor: pointer;
         position: absolute;
         right: 0;
         top: 50%;
         transform: translateY(-50%);
      }
   }
}
