// Подключение миксинов ============================================================================
@import "mixins";
// Подключение шрифтов =============================================================================
@import "fonts";
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700);
// Подключение файла обнуления стилей ==============================================================
@import "nullstyle";
// Переменные ======================================================================================
$main-black: #262626;
$main-blue: #40bfff;
$main-red: #ff4858;
$secondary-blue: #bcddfe;

$minWidth: 320px;
$maxWidth: 1500;
$maxWidthContainer: 1300;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

// Основная сетка ==================================================================================
._container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;
   padding: 0 15px;
}

// Основной шрифт ==================================================================================
body {
   font-family: "Poppins", sans-serif;
   font-size: 14px;
   color: $main-black;
}

// Общие стили =====================================================================================
.wrapper {
   min-height: 100%;
   overflow: hidden;

   display: flex;
   flex-direction: column;
   .content {
      flex: 1 1 auto;
   }
}

// Подключение файлов стилей страниц ====================================================================================================
@import "blocks/header";

@import "blocks/footer";
@import "popups";
