// Подключение миксинов ============================================================================
@import "mixins";
// Подключение шрифтов =============================================================================
@import "fonts";
// Подключение файла обнуления стилей ==============================================================
@import "nullstyle";
// Переменные ======================================================================================
$minWidth: 320px;
$maxWidth: 1500;
$maxWidthContainer: 1210;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md2: 479.98;

// Основная сетка ==================================================================================
._container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;
   padding: 0 15px;
}

// Основной шрифт ==================================================================================
body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

// Общие стили =====================================================================================
.wrapper {
   min-height: 100%;
   overflow: hidden;

   display: flex;
   flex-direction: column;
   .content {
      flex: 1 1 auto;
   }
}

// Подключение файлов стилей страниц ====================================================================================================
@import "blocks/header";

@import "blocks/footer";
