// Подключение миксинов ============================================================================
@import "mixins";
// Подключение шрифтов =============================================================================
@import "fonts";
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700);
// Подключение файла обнуления стилей ==============================================================
@import "nullstyle";
// Swiper Slider ===================================================================================
@import "swiper-vars.scss";
@import "swiper.scss";
// Переменные ======================================================================================
$main-black: #262626;
$main-blue: #40bfff;
$main-red: #ff4858;
$secondary-blue: #bcddfe;

$minWidth: 320px;
$maxWidth: 1500;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

// Основная сетка ==================================================================================
.container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;
   @media (max-width: $md1 + px) {
      max-width: 970px;
   }
   @media (max-width: $md2 + px) {
      max-width: 750px;
   }
   @media (max-width: $md3 + px) {
      max-width: none;
      padding: 0 10px;
   }
}

// Основной шрифт ==================================================================================
body {
   font-family: "Poppins", sans-serif;
   font-size: 14px;
   color: $main-black;
}

// Общие стили =====================================================================================
.wrapper {
   min-height: 100%;
   overflow: hidden;

   display: flex;
   flex-direction: column;
   .content {
      flex: 1 1 auto;
   }
}

.usd {
   &::before {
      content: "$";
   }
}

.percent {
   &::after {
      content: "% Off";
   }
}

// Подключение файлов стилей страниц ===============================================================
body {
   &.lock {
      overflow: hidden;
   }
   &.pc {
      .menu__list {
         > li {
            &:hover {
               .menu__dropdown {
                  opacity: 1;
                  visibility: visible;
                  pointer-events: all;
               }
            }
         }
      }
   }
   &.touch {
      .menu__list {
         > li {
            &.active {
               .menu__link {
                  &.arrow {
                     &::after {
                        transform: translateY(-50%) rotate(-180deg);
                     }
                  }
               }
               .menu__dropdown {
                  opacity: 1;
                  visibility: visible;
                  pointer-events: all;
               }
            }
         }
      }
      .menu__link {
         &.arrow {
            position: relative;
            padding: 0px 15px 0px 0px;
            &::after {
               content: "";
               display: block;
               width: 0;
               height: 0;
               border-left: 5px solid transparent;
               border-right: 5px solid transparent;
               border-top: 8px solid $main-black;
               margin: 0px 0px 0px 5px;
               transition: transform 0.3s ease 0s;
               position: absolute;
               right: 0;
               top: 50%;
               transform: translateY(-50%);
            }
         }
      }
      @media (max-width: $md3 + px) {
         .item-footer__title {
            &.arrow {
               display: flex;
               justify-content: center;
               align-items: center;
               &::after {
                  content: "";
                  display: block;
                  width: 0;
                  height: 0;
                  border-left: 4px solid transparent;
                  border-right: 4px solid transparent;
                  border-top: 6px solid $main-black;
                  margin: 0px 0px 0px 5px;
                  transition: transform 0.3s ease 0s;
               }
            }
            &.show {
               &::after {
                  transform: rotate(180deg);
               }
            }
         }
      }
   }
}

.title {
   @include adaptive-font(35, 28);
   line-height: 52 / 35 * 100%;
   font-weight: 600;
   text-align: center;
   text-transform: uppercase;
}

.page-section {
   margin: 0px 0px 70px 0px;
   @media (max-width: $md2 + px) {
      margin: 0px 0px 30px 0px;
   }
}

.breadcrumbs {
   background-color: rgba($color: #f6f7f8, $alpha: 0.5);
   padding: 14.5px 0;
   margin: 0px 0px 50px 0px;
   @media (max-width: $md3 + px) {
      height: 51px;
      overflow: auto;
   }

   // .breadcrumbs__wrapper
   &__wrapper {
      text-align: center;
   }
   // .breadcrumbs__list
   &__list {
      font-family: "proximanova";
      font-size: 18px;
      line-height: 22px;
      display: inline-flex;
      align-items: center;
      flex-wrap: wrap;
      white-space: nowrap;
      li {
         &::after {
            content: "/";
            display: inline-block;
            font-size: 14px;
            line-height: 17px;
            color: #c1c8ce;
            margin: 0px 8px 0px 4px;
         }
         &:last-child {
            &::after {
               content: "";
            }
         }
      }
      @media (max-width: $md3 + px) {
         flex-wrap: nowrap;
      }
   }

   // .breadcrumbs__link
   &__link {
      color: $main-blue;
      @media (min-width: $md2 + px) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   // .breadcrumbs__item
   &__item {
      color: $main-black;
   }
}

/* .item-products=============================================================================== */
.items-products {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -17px;

   // .items-products__column
   &__column {
      flex: 0 0 33.333%;
      padding: 0 17px;
      margin: 0px 0px 35px 0px;
      @media (max-width: $md1 + px) {
         flex: 0 0 50%;
      }
      @media (max-width: 640px) {
         flex: 0 0 100%;
      }
   }
   &.line-view {
      @media (min-width: $md2 + px) {
         .items-products__column {
            flex: 1 1 100%;
            &:last-child {
               .item-product {
                  padding: 0;
                  border-bottom: none;
               }
            }
         }
         .item-product {
            display: flex;
            max-width: none;
            border-left: none;
            border-right: none;
            border-top: none;
            padding: 0px 0px 30px 0px;
            @media (min-width: $md2 + px) {
               &:hover {
                  .item-product__image-holder {
                     &::before {
                        opacity: 0;
                        visibility: hidden;
                     }
                  }
               }
            }

            &__head {
               flex: 0 0 300px;
            }
            &__body {
               flex: 1 1 auto;
               padding: 0 15px;
            }
            &__image-holder {
               align-items: flex-start;
            }
            &__title {
               display: inline-block;
               font-size: 24px;
               line-height: 36px;
               font-weight: 500;
               color: $main-black;
               text-align: left;
               margin: 0px 0px 15px 0px;
            }
            &__marks {
               display: flex;
               text-align: left;
               border-bottom: 2px solid #f6f7f8;
               padding: 0px 0px 17px 0px;
               margin: 0px 0px 14px 0px;
            }
            &__rating {
               margin: 0px 15px 0px 0px;
               svg {
                  margin: 0px 3px 0px 0px;
                  &:last-child {
                     margin: 0;
                  }
               }
            }
            .reviews {
               display: flex;
               &__number {
                  margin: 0px 13px 0px 0px;
               }
            }
            &__prices {
               justify-content: flex-start;
               margin: 0px 0px 15px 0px;
            }
            &__price {
               font-size: 20px;
               line-height: 180%;
               font-weight: bold;
            }
            &__oldprice {
               margin: 0 8px;
            }
            &__description {
               display: block;
            }
            &__btns {
               position: relative;
               opacity: 1;
               visibility: visible;
               top: auto;
               margin: 30px 0px 0px 0px;
            }
            &__cart {
               width: auto;
               height: 46px;
               border: 1px solid transparent;
               border-radius: 5px;
               font-size: 14px;
               line-height: 17px;
               color: $main-blue;
               background-color: rgba($color: #33a0ff, $alpha: 0.1);
               display: flex;
               justify-content: center;
               align-items: center;
               padding: 0 20px;
               margin: 0px 15px 0px 0px;
               svg {
                  margin: 0px 14px 0px 0px;
                  path {
                     transition: fill 0.3s ease 0s;
                  }
               }
               @media (min-width: $md2 + px) {
                  &:hover {
                     border: 1px solid $main-blue;
                     background-color: #fff;
                     svg {
                        path {
                           fill: $main-blue;
                        }
                     }
                  }
               }
            }
            &__favorite {
               display: block;
               width: 46px;
               height: 46px;
               border: 1px solid transparent;
               border-radius: 5px;
               background-color: rgba($color: #33a0ff, $alpha: 0.1);
               display: flex;
               justify-content: center;
               align-items: center;
               svg {
                  path {
                     transition: fill 0.3s ease 0s;
                  }
               }
               @media (min-width: $md2 + px) {
                  &:hover {
                     border: 1px solid $main-blue;
                     background-color: #fff;
                     svg {
                        path {
                           fill: $main-blue;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}

.item-product {
   position: relative;
   border: 3px solid #f6f7f8;
   border-radius: 5px;
   max-width: 300px;
   margin: 0 auto;
   @media (min-width: $md2 + px) {
      &:hover {
         .item-product__image-holder {
            &::before {
               opacity: 1;
               visibility: visible;
            }
         }
         .item-product__btns {
            opacity: 1;
            visibility: visible;
         }
      }
   }

   // .item-product__head
   &__head {
      position: relative;
   }

   // .item-product__labels
   &__labels {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
   }

   // .item-product__label
   &__label {
      font-family: "proximanova";
      font-size: 18px;
      height: 33px;
      color: #fff;
      text-transform: uppercase;
      background-color: $main-red;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 0px 5px 0px;
      padding: 0px 12px;
   }

   // item-product__image-holder
   &__image-holder {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 270px;
      position: relative;
      &::before {
         content: "";
         display: block;
         width: 90%;
         height: 80%;
         background-color: rgba($color: #fff, $alpha: 0.9);
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         opacity: 0;
         visibility: hidden;
         transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
      }
   }

   // .item-product__image
   &__image {
      display: block;
      max-height: 100%;
      img {
         max-width: 100%;
         max-height: 270px;
      }
   }

   // .item-product__body
   &__body {
      padding: 10px 34px 25px 34px;
   }

   // .item-product__title
   &__title {
      display: block;
      font-size: 18px;
      line-height: 150%;
      font-weight: bold;
      color: #223263;
      text-align: center;
      letter-spacing: 0.5px;
      margin: 0px 0px 5px 0px;
      @media (min-width: $md2 + px) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   // .item-product__marks
   &__marks {
      text-align: center;
      margin: 0px 0px 6px 0px;
   }

   // .item-product__rating
   &__rating {
      svg {
         margin: 0px 10px 0px 0px;
         &:last-child {
            margin: 0;
         }
      }
      .fill {
         path {
            fill: #ffc600;
         }
      }
   }

   // .item-product__reviews
   &__reviews {
   }

   // .item-product__pricesprices
   &__prices {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
   }

   // .item-product__price
   &__price {
      font-size: 18px;
      line-height: 180%;
      font-weight: 700;
      letter-spacing: 0.5px;
      color: $main-blue;
   }

   // .item-product__oldprice
   &__oldprice {
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: #9098b1;
      text-decoration: line-through;
   }

   // .item-product__discount
   &__discount {
      font-size: 14px;
      line-height: 150%;
      font-weight: 700;
      letter-spacing: 0.5px;
      color: $main-red;
   }

   // .item-product__description
   &__description {
      display: none;
      font-size: 14px;
      line-height: 21px;
   }

   // .item-product__btns
   &__btns {
      display: flex;
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%, 0px);
      z-index: 1;
      opacity: 0;
      visibility: hidden;
   }

   // .item-product__cart
   &__cart {
      width: 50px;
      height: 50px;
      border: 2px solid rgba($color: #33a0ff, $alpha: 0.25);
      border-radius: 50%;
      font-size: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 10px 0px 0px;
      transition: background-color 0.3s ease 0s, border 0.3s ease 0s;
      svg {
         path {
            transition: fill 0.3s ease 0s;
         }
      }
      @media (min-width: $md2 + px) {
         &:hover {
            background-color: $main-blue;
            svg {
               path {
                  fill: #fff;
               }
            }
         }
      }
   }

   // .item-product__favorite
   &__favorite {
      display: block;
      width: 50px;
      height: 50px;
      border: 2px solid rgba($color: #33a0ff, $alpha: 0.25);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s ease 0s, border 0.3s ease 0s;
      svg {
         path {
            transition: fill 0.3s ease 0s;
         }
      }
      @media (min-width: $md2 + px) {
         &:hover {
            background-color: $main-blue;
            svg {
               path {
                  fill: #fff;
               }
            }
         }
      }
   }

   // .reviews
   .reviews {
      display: none;
      font-family: "proximanova";
      font-size: 14px;
      line-height: 17px;

      // .reviews__number
      &__number {
         color: #c1c8ce;
      }

      // .reviews__btn
      &__btn {
         color: $main-blue;
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
/* ============================================================================================ */
@import "popups";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/home";
@import "blocks/catalog";
