.page {
   padding: 205px 0px 0px 0px;
   margin: 0px 0px 155px 0px;
   // .page__container
   &__container {
      @media (min-width: $md2 +px) {
         display: flex;
         align-items: flex-start;
      }
   }

   // .page__filter
   &__filter {
      @media (min-width: $md2 +px) {
         flex: 0 0 270px;
      }
   }

   // .page__content
   &__content {
      @media (min-width: $md2 +px) {
         flex: 1 1 auto;
         padding: 0px 0px 0px 30px;
      }
   }
}

.filter {
   // .filter__title
   &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      text-align: center;
      font-weight: 500;
      background-color: #f6f7f8;
      cursor: pointer;
      padding: 15px;
      margin: 0px 0px 10px 0px;
      &::before {
         content: "";
         display: inline-block;
         width: 20px;
         height: 20px;
         background: url("../img/filter-icon.png") center / cover no-repeat;
         margin: 0px 10px 0px 0px;
      }
      @media (min-width: $md2 +px) {
         display: none;
      }
   }

   // .filter__wrapper
   &__wrapper {
      @media (max-width: $md2 +px) {
         margin: 0px 0px 20px 0px;
      }
   }

   // .filter__body
   &__body {
      overflow: hidden;
      transition: height 0.3s ease 0s;
   }

   // .filter__section
   &__section {
      margin: 0px 0px 30px 0px;
   }

   // filter__btn
   &__btn {
      transition: transform 0.2s ease 0s;
      a {
         display: block;
         height: 56px;
         font-size: 14px;
         line-height: 56px;
         font-weight: 500;
         color: $main-black;
         text-transform: uppercase;
         text-align: center;
         background-color: #f6f7f8;
      }
   }
}

.section-filter {
   background-color: #f6f7f8;
   border-radius: 5px;
   padding: 20px;
   // .section-filter__title
   &__title {
      font-size: 18px;
      line-height: 27px;
      font-weight: 500;
   }

   // .section-filter__body
   &__body {
      padding: 25px 0px 0px 0px;
   }

   // .section-filter__checkbox
   &__checkbox {
      display: flex;
      align-items: center;
      margin: 0px 0px 20px 0px;
      &:last-child {
         margin: 0px 0px 0px 0px;
      }
   }

   // .section-filter__color
   &__color {
      display: inline-flex;
      align-items: center;
      margin: 0px 17px 0px 0px;
      &:last-child {
         margin: 0;
      }
   }
}

.checkbox {
   position: relative;
   // .checkbox__input
   &__input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      // visibility: hidden;
      &:checked ~ span {
         color: $main-blue;
      }
   }

   // .checkbox__text
   &__text {
      display: inline-flex;
      align-items: center;
      position: relative;
      font-family: "proximanova";
      font-size: 18px;
      line-height: 22px;
      cursor: pointer;
   }

   // .checkbox__count
   &__count {
      font-family: "proximanova";
      font-size: 18px;
      line-height: 22px;
      margin-left: auto;
      color: rgba($color: $main-black, $alpha: 0.35);
   }
}

.price-filter {
   // .price-filter__body
   &__body {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-family: "proximanova";
      font-size: 18px;
      line-height: 22px;
      margin: 0px 0px 20px 0px;
   }

   // .price-filter__text
   &__text {
   }

   // .price-filter__values
   &__values {
   }

   // .price-filter__value
   &__value {
      &::before {
         content: "$";
      }
      &::after {
         content: "-";
         padding: 0 3px 0 5px;
      }
      &:last-child {
         &::after {
            display: none;
         }
      }
   }
   // .price-filter__slider
   .price-filter__slider {
      background-color: #e5e5e5;
      height: 4px;
      position: relative;
      .noUi-base {
         width: 100%;
         height: 100%;
         position: relative;
         z-index: 1;
      }
      .noUi-origin,
      .noUi-connect {
         width: 10%;
         will-change: transform;
         position: absolute;
         z-index: 1;
         top: 0;
         right: 0;
         transform-origin: 0 0;
         transform-style: flat;
      }
      .noUi-connect {
         background-color: $main-blue;
         width: 100%;
         height: 100%;
      }
      .noUi-handle {
         width: 16px;
         height: 16px;
         background-color: $main-blue;
         border: 2px solid #fff;
         border-radius: 50%;
         position: absolute;
         top: -6px;
         right: -10px;
      }
      .noUi-tooltip {
      }
   }
}

.filter-color {
   position: relative;
   // .filter-color__input
   &__input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      // visibility: hidden;
      &:checked + .filter-color__value {
         &::before {
            display: block;
         }
      }
   }

   // .filter-color__value
   &__value {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      &::before {
         content: "";
         display: none;
         width: 26px;
         height: 26px;
         background-color: transparent;
         border: 2px solid rgba($color: #006cff, $alpha: 0.4);
         border-radius: 50%;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
}

.top-banner {
   background-color: $main-blue;
   color: #fff;
   padding: 55px 0;
   margin: 0px 0px 40px 0px;
   @media (max-width: $md2 +px) {
      padding: 30px 0;
   }

   // .top-banner__row
   &__row {
      display: flex;
      align-items: center;
      max-width: 780px;
      padding: 0 20px;
      margin: 0 auto;
   }

   // .top-banner__content
   &__content {
      flex: 1 1 auto;
   }

   // .top-banner__title
   &__title {
      @include adaptive-font(30, 21);
      line-height: 45 / 30 * 100%;
      font-weight: 500;
      margin: 0px 0px 15px 0px;
   }

   // .top-banner__text
   &__text {
      font-size: 14px;
      line-height: 21 / 14 * 100%;
      margin: 0px 0px 15px 0px;
      @media (max-width: $md1 +px) {
         margin: 0px 0px 5px 0px;
      }
   }

   // .top-banner__link
   &__link {
      display: inline-block;
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
      color: inherit;
      padding: 0px 0px 4px 0px;
      margin: 12px 0px 0px 0px;
      transition: all 0.3s ease 0s;
      position: relative;
      &::after {
         content: "";
         display: block;
         width: 60%;
         height: 3px;
         background-color: #fff;
         transition: all 0.3s ease 0s;
         position: absolute;
         left: 0;
         bottom: 0;
      }
      @media (min-width: $md2 + px) {
         &:hover {
            color: $main-black;
            &::after {
               background-color: $main-black;
            }
         }
      }
   }

   // .top-banner__img
   &__img {
      flex: 0 0 50%;
      margin: -95px 0px 0px 0px;
      img {
         max-width: 100%;
      }
      @media (max-width: $md1 +px) {
         margin: -120px 0px 0px 0px;
      }
      @media (max-width: $md2 +px) {
         display: none;
      }
   }
}

/* Секция с сортировкой и продуктами*/
.catalog {
   // .catalog__actions
   &__actions {
      margin: 0px 0px 25px 0px;
   }
}

.actions-catalog {
   height: 58px;
   background-color: #f6f7f8;
   font-family: "proximanova";
   font-size: 16px;
   line-height: 19px;
   color: $main-black;
   border-radius: 5px;
   padding: 0px 0px 0px 20px;
   display: flex;
   align-items: center;
   // .actions-catalog__count
   &__count {
   }

   // .actions-catalog__order
   &__order {
   }

   // .actions-catalog__view
   &__view {
   }
}

.order-catalog {
   display: flex;
   flex: 1 1 auto;
   // .order-catalog__select
   &__select {
      display: flex;
      align-items: center;
      margin: 0px 0px 0px 45px;
   }

   // .order-catalog__label
   &__label {
      margin: 0px 12px 0px 0px;
   }

   // .order-catalog__btn
   &__btn {
      display: inline-block;
      min-width: 130px;
      border: 2px solid #f1f3f4;
      border-radius: 5%;
      cursor: pointer;
      padding: 5px 25px 5px 10px;
      position: relative;
      &::after {
         content: "";
         width: 0;
         height: 0;
         border-style: solid;
         border-width: 4px 3.5px 0 3.5px;
         border-color: $main-black transparent transparent transparent;
         position: absolute;
         right: 10px;
         top: 50%;
         transform: translateY(-50%);
      }
      &:focus,
      &.is-active {
         box-shadow: 0px 0px 0px 2px rgba(176, 198, 225, 0.6);
      }
   }

   // .order-catalog__dropdown
   &__dropdown {
      position: relative;
   }

   // .order-catalog__dropdown-list
   &__dropdown-list {
      display: none;
      position: absolute;
      left: 0;
      top: 105%;
      background-color: #fff;
      min-width: 100%;
      border: 2px solid #f1f3f4;
      border-top: none;
      max-height: 150px;
      overflow-y: auto;
      &.is-active {
         display: block;
      }
   }

   // .order-catalog__dropdown-item
   &__dropdown-item {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      transition: background-color 0.3s ease 0s;
      @media (min-width: $md2 + px) {
         &:hover {
            background-color: #f6f7f8;
         }
      }
   }

   // .order-catalog__dropdown-input
   &__dropdown-input {
      display: none;
   }
}

.view-catalog {
   display: flex;
   height: 100%;

   // .view-catalog__item
   &__item {
      width: 55px;
      background-color: #f6f7f8;
      cursor: pointer;
      // .view-catalog__item_grid
      &_grid {
         background: url("../img/grid-view.svg") no-repeat center / 22px 20px;
         &.active {
            background: url("../img/grid-view-active.svg") no-repeat center / 22px 20px;
         }
      }

      // .view-catalog__item_list
      &_list {
         background: url("../img/line-view.svg") no-repeat center / 20px 16px;
         &.active {
            background: url("../img/line-view-active.svg") no-repeat center / 20px 16px;
         }
      }
   }
}
