.header {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   min-height: 165px;
   padding: 26px 0;
   background-color: #fff;
   z-index: 10;
   transition: all 0.5s ease 0s;
   &.hide {
      top: -120%;
      .menu__body {
         &::before {
            top: -120%;
         }
      }
   }
   @media (max-width: $md2 + px) {
      min-height: 120px;
      padding: 15px 0;
   }

   // .header__top
   &__top {
      border-bottom: 2px solid #fafafb;
      padding: 0px 0px 15px 0px;
      margin: 0px 0px 26px 0px;
      @media (max-width: $md2 + px) {
         padding: 0px 0px 10px 0px;
         margin: 0;
      }
   }

   // .header__top-row
   &__top-row {
      display: flex;
      justify-content: space-between;
   }

   // .header__top-selectors
   &__top-selectors {
   }

   // .header__top-info
   &__top-info {
      display: flex;
      font-family: "proximanova";
      font-size: 20px;
      line-height: 24px;
      color: $main-black;
   }

   // .header__top-profile
   &__top-profile {
      display: flex;
      align-items: center;
      color: inherit;
      margin: 0px 35px 0px 0px;
      position: relative;
      z-index: 5;
      svg {
         width: 20px;
         height: 20px;
         path {
            transition: all 0.3s ease;
         }
      }
      span {
         margin: 0px 0px 0px 7px;
         transition: all 0.3s ease;
      }
      @media (min-width: $md2 + px) {
         &:hover {
            svg {
               path {
                  fill: $main-blue;
               }
            }
            span {
               color: $main-blue;
            }
         }
      }
      @media (max-width: $md4 + px) {
         width: 25px;
         height: 25px;
         margin: 0px 20px 0px 0px;
         svg {
            width: 25px;
            height: 25px;
         }
         span {
            display: none;
         }
      }
   }

   // .header__top-cart
   &__top-cart {
      display: inline-block;
      position: relative;
      margin: 0px 35px 0px 0px;
      z-index: 5;
      svg {
         width: 20px;
         height: 20px;
         path {
            transition: all 0.3s ease;
         }
      }
      .cart-count {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 20px;
         height: 20px;
         border-radius: 50%;
         border: 2px solid #ffffff;
         background-color: $main-red;
         font-family: "Poppins", sans-serif;
         font-size: 10px;
         line-height: 150%;
         font-weight: 700;
         color: #fff;
         position: absolute;
         top: -8px;
         right: -8px;
      }
      @media (min-width: $md2 + px) {
         &:hover {
            svg {
               path {
                  stroke: $main-blue;
               }
            }
         }
      }
      @media (max-width: $md4 + px) {
         width: 25px;
         height: 25px;
         margin: 0px 20px 0px 0px;
         svg {
            width: 25px;
            height: 25px;
         }
      }
   }

   // .header__top-price
   &__top-price {
      font-size: 20px;
      line-height: 24px;
      color: rgba($color: $main-black, $alpha: 0.5);
      margin: 0px 35px 0px 0px;
      position: relative;
      z-index: 5;
      @media (max-width: $md4 + px) {
         display: none;
      }
   }

   // .header__top-search
   &__top-search {
      display: block;
      position: relative;
      z-index: 5;
      svg {
         width: 20px;
         height: 20px;
         path {
            transition: all 0.3s ease;
         }
      }
      @media (min-width: $md2 + px) {
         &:hover {
            svg {
               path {
                  fill: $main-blue;
               }
            }
         }
      }
      @media (max-width: $md4 + px) {
         width: 25px;
         height: 25px;
         svg {
            width: 25px;
            height: 25px;
         }
      }
   }

   // .header__bottom
   &__bottom {
   }

   // .header__bottom-row
   &__bottom-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   // .header__bottom-logo
   &__bottom-logo {
      flex: 0 0 135px;
      position: relative;
      z-index: 5;
      img {
         max-width: 100%;
      }
   }

   // .header__bottom-menu
   &__bottom-menu {
   }
}

.selectors {
   display: flex;
   font-family: "proximanova";
   font-size: 20px;
   line-height: 24px;
   color: $main-black;
   margin: 0px 0px 0px -10px;
   align-self: flex-start;

   // .selectors__block
   &__block {
      position: relative;
      margin: 0px 13px 0px 0px;
      z-index: 6;
      &:last-child {
         margin: 0;
      }
   }

   // .selectors__current
   &__current {
      position: relative;
      padding: 0px 15px 0px 10px;
      cursor: pointer;
      transition: all 0.3s ease;
      &::after {
         content: "";
         position: absolute;
         right: 0;
         top: 8px;
         width: 0;
         height: 0;
         border-left: 5px solid transparent;
         border-right: 5px solid transparent;
         border-top: 6px solid $main-black;
         transition: all 0.3s ease;
      }
      &.active {
         &::after {
            transform: rotate(-180deg);
         }
      }
      @media (min-width: $md2 + px) {
         &:hover {
            color: $main-blue;
            &::after {
               border-top: 6px solid $main-blue;
            }
         }
      }
   }

   // .selectors__options
   &__options {
      position: absolute;
      left: 0;
      top: 50%;
      transition: all 0.3s ease;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      &.active {
         top: 100%;
         opacity: 1;
         visibility: visible;
         pointer-events: all;
      }
      > li {
         background-color: #fff;
         padding: 0 10px;
         transition: all 0.3s ease;
         @media (min-width: $md2 + px) {
            &:hover {
               color: #fff;
               background-color: $main-blue;
            }
         }
      }
   }

   // .selectors__link
   &__link {
      color: inherit;
   }
}

.menu {
   // .menu__burger
   &__burger {
      display: none;
      @media (max-width: $md2 + px) {
         display: block;
         width: 30px;
         height: 19px;
         cursor: pointer;
         position: relative;
         z-index: 5;
         span,
         &::before,
         &::after {
            position: absolute;
            left: 0;
            height: 10%;
            width: 100%;
            background-color: $main-black;
            transition: all 0.3s ease 0s;
         }
         &::before,
         &::after {
            content: "";
         }
         &::before {
            top: 0;
         }
         &::after {
            bottom: 0;
         }
         span {
            top: 50%;
            transform: translate(0px, -50%) scale(1);
         }
         &.active {
            span {
               transform: scale(0);
            }
            &::before {
               top: 50%;
               transform: translate(0px, -50%) rotate(-45deg);
            }
            &::after {
               bottom: 50%;
               transform: translate(0px, 50%) rotate(45deg);
            }
         }
      }
   }

   // .menu__body
   &__body {
      @media (max-width: $md2 + px) {
         position: fixed;
         left: -100%;
         top: 0;
         width: 100%;
         height: 100%;
         background-color: $secondary-blue;
         padding: 140px 30px 30px 30px;
         transition: all 0.3s ease 0s;
         overflow-y: auto;
         &::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 120px;
            background-color: #fff;
            z-index: 3;
            transition: all 0.5s ease 0s;
         }
         &.active {
            left: 0;
         }
      }
      @media (max-width: $md3 + px) {
         padding: 140px 10px 30px 10px;
      }
   }

   // .menu__list
   &__list {
      position: relative;
      display: flex;
      > li {
         margin: 0px 0px 0px 97px;
         &:first-child {
            margin: 0;
         }
      }
      @media (max-width: $md1 + px) {
         > li {
            margin: 0px 0px 0px 50px;
         }
      }
      @media (max-width: $md2 + px) {
         display: block;
         > li {
            margin: 0px 0px 30px 0px;
            &:first-child {
               margin: 0px 0px 30px 0px;
            }
            &.active {
               .menu__dropdown {
                  display: block;
               }
            }
         }
      }
   }

   // .menu__link
   &__link {
      display: inline-block;
      max-width: 200px;
      font-size: 24px;
      line-height: 36px;
      font-weight: 500;
      color: $main-black;
      text-transform: uppercase;
      transition: all 0.3s ease 0s;
      cursor: pointer;
      @media (min-width: $md2 + px) {
         &:hover {
            color: $main-blue;
         }
      }
      @media (max-width: $md2 + px) {
         font-size: 28px;
      }
   }

   // .menu__dropdown
   &__dropdown {
      position: absolute;
      left: -30%;
      top: 100%;
      width: 1030px;
      border-top: 3px solid #f1f3f4;
      border-radius: 0px 0px 5px 5px;
      background-color: #fff;
      padding: 30px 20px 20px 50px;
      transition: all 0.3s ease 0s;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      &::before {
         content: "";
         position: absolute;
         left: 10%;
         top: -11px;
         width: 0;
         height: 0;
         border-left: 6px solid transparent;
         border-right: 6px solid transparent;
         border-bottom: 8px solid #f1f3f4;
         transition: all 0.3s ease;
      }
      @media (max-width: $md1 + px) {
         width: auto;
      }
      @media (max-width: $md2 + px) {
         position: relative;
         left: 0;
         border-radius: 0;
         display: none;
         &::before {
            display: none;
         }
      }
   }

   // .menu__dropdown-row
   &__dropdown-row {
      display: flex;
      flex-wrap: wrap;
   }

   // .menu__dropdown-column
   &__dropdown-column {
      max-width: 320px;
      @media (max-width: $md2 + px) {
         max-width: none;
         flex: 1 1 auto;
      }
   }

   // .menu__dropdown-title
   &__dropdown-title {
      font-size: 22px;
      line-height: 33px;
      font-weight: 500;
      color: #c1c8ce;
      margin: 0px 0px 12px 0px;
   }

   // .menu__dropdown-list
   &__dropdown-list {
      display: flex;
      flex-wrap: wrap;
      > li {
         flex: 0 0 50%;
         margin: 0px 0px 20px 0px;
      }
      @media (max-width: $md2 + px) {
         > li {
            flex: 0 0 100%;
            margin: 0px 0px 20px 0px;
         }
      }
   }

   // .menu__dropdown-link
   &__dropdown-link {
      font-size: 16px;
      line-height: 24px;
      color: $main-black;
      @media (min-width: $md2 + px) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
