.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   padding: 25px 0;
   min-height: 175px;
   background-color: #fff;
   @media (max-width: $md2) {
      min-height: 110px;
      padding: 15px 0;
   }

   // .header__top
   &__top {
      position: relative;
      z-index: 6;
      border-bottom: 2px solid #fafafb;
      padding: 0px 0px 20px 0px;
      margin: 0px 0px 30px 0px;
      @media (max-width: $md2) {
         padding: 0px 0px 10px 0px;
         margin: 0;
         border: none;
      }
   }

   // .header__top-body
   &__top-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   // .header__selectors
   &__selectors {
      position: relative;
      z-index: 5;
   }

   // .header__info
   &__info {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 5;
   }

   // .header__profile
   &__profile {
      font-family: "proximanova";
      font-size: 20px;
      line-height: 24px;
      color: $main-black;
      display: flex;
      align-items: center;
      margin: 0px 30px 0px 0px;
      transition: all 0.3s ease;
      span {
         margin: 0px 0px 0px 5px;
      }
      svg {
         path {
            transition: all 0.3s ease;
         }
      }
      @media (min-width: $md2) {
         &:hover {
            color: $main-blue;
            svg {
               path {
                  fill: $main-blue;
               }
            }
         }
      }
      @media (max-width: $md4) {
         margin: 0px 20px 0px 0px;
         span {
            display: none;
         }
      }
   }

   // .header__cart
   &__cart {
      display: block;
      width: 24px;
      height: 24px;
      margin: 0px 30px 0px 0px;
      position: relative;
      svg {
         path {
            transition: all 0.3s ease;
         }
      }
      span {
         width: 20px;
         height: 20px;
         font-size: 10px;
         line-height: 150%;
         font-weight: 700;
         color: #fff;
         background-color: $main-red;
         border-radius: 50%;
         border: 2px solid #fff;
         display: flex;
         justify-content: center;
         align-items: center;
         position: absolute;
         top: -8px;
         right: -8px;
      }
      @media (min-width: $md2) {
         &:hover {
            svg {
               path {
                  stroke: $main-blue;
               }
            }
         }
      }
      @media (max-width: $md4) {
         margin: 0px 20px 0px 0px;
      }
   }

   // .header__price
   &__price {
      font-family: "proximanova";
      font-size: 20px;
      line-height: 24px;
      color: rgba($color: $main-black, $alpha: 0.5);
      margin: 0px 30px 0px 0px;
      @media (max-width: $md4) {
         display: none;
      }
   }

   // .header__search
   &__search {
      cursor: pointer;
      svg {
         path {
            transition: all 0.3s ease;
         }
      }
      @media (min-width: $md2) {
         &:hover {
            svg {
               path {
                  fill: $main-blue;
               }
            }
         }
      }
   }

   // .header__bottom
   &__bottom {
   }

   // .header__bottom-body
   &__bottom-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   // .header__logo
   &__logo {
      flex: 0 0 135px;
      margin: 0px 20px 0px 0px;
      position: relative;
      z-index: 5;
      img {
         max-width: 100%;
      }
   }

   // .header__menu
   &__menu {
   }
}

.selector {
   display: flex;

   // .selector__item
   &__item {
      font-family: "proximanova";
      font-size: 20px;
      line-height: 24px;
      margin: 0px 13px 0px 0px;
      position: relative;
      &:last-child {
         margin: 0px;
      }
   }

   // .selector__current
   &__current {
      position: relative;
      padding: 0px 12px 0px 0px;
      cursor: pointer;
      &::after {
         content: "";
         display: block;
         width: 6px;
         height: 5px;
         border: 4px solid transparent;
         border-top: 4px solid $main-black;
         position: absolute;
         right: 0;
         top: 10px;
      }
   }

   // .selector__options
   &__options {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      li {
         background-color: #fff;
      }
      &.active {
         top: 100%;
         opacity: 1;
         visibility: visible;
      }
   }

   // .selector__link
   &__link {
      display: block;
      color: $main-black;
      transition: all 0.3s ease;
      @media (min-width: $md2) {
         &:hover {
            color: $main-blue;
         }
      }
   }
}

.menu {
   // .menu__burger
   &__burger {
      display: none;
      @media (max-width: $md2) {
         display: block;
         position: relative;
         width: 30px;
         height: 20px;
         z-index: 5;
         cursor: pointer;
         &::before,
         &::after {
            content: "";
            position: absolute;
            left: 0;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease;
            background-color: $main-black;
         }
         &::before {
            top: 0;
         }
         &::after {
            bottom: 0;
         }
         span {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%) scale(1);
            height: 10%;
            width: 100%;
            transition: all 0.3s ease;
            background-color: $main-black;
         }
         &.active {
            span {
               transform: translate(0, -50%) scale(0);
            }
            &::before {
               top: 50%;
               transform: translate(0, -50%) rotate(-45deg);
            }
            &::after {
               bottom: 50%;
               transform: translate(0, 50%) rotate(45deg);
            }
         }
      }
   }

   // .menu__body
   &__body {
      @media (max-width: $md2) {
         position: fixed;
         top: 0;
         left: -100%;
         width: 100%;
         height: 100%;
         background-color: rgba(203, 255, 250, 1);
         padding: 130px 15px 30px 15px;
         overflow: auto;
         transition: all 0.3s ease;
         &::before {
            content: "";
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 110px;
            background-color: #fff;
            z-index: 2;
         }
         &.active {
            left: 0;
         }
      }
   }

   // .menu__list
   &__list {
      > li {
         margin: 0px 95px 0px 0px;
         &:last-child {
            margin: 0;
         }
      }
      @media (min-width: $md2) {
         display: flex;
         position: relative;
      }
      @media (max-width: $md2) {
         > li {
            margin: 0;
            flex-wrap: wrap;
            margin: 0px 0px 20px 0px;
            &.active {
               .menu__dropdown {
                  display: block;
               }
            }
         }
      }
   }

   // .menu__link
   &__link {
      font-size: 24px;
      line-height: 36px;
      font-weight: 500;
      color: $main-black;
      text-transform: uppercase;
      transition: all 0.3s ease;
      @media (min-width: $md2) {
         &:hover {
            color: $main-blue;
         }
      }
      @media (max-width: $md2) {
         font-size: 28px;
      }
   }

   // .menu__arrow
   &__arrow {
      display: none;
   }

   // .menu__dropdown
   &__dropdown {
      position: absolute;
      left: -100px;
      top: 100%;
      width: 100%;
      background: #ffecec;
      border-top: 2px solid #c1c8ce;
      border-radius: 0 0 10px 10px;
      padding: 30px 30px 15px 30px;
      @media (min-width: $md2) {
         opacity: 0;
         visibility: hidden;
         pointer-events: none;
         transition: all 0.3s ease;
      }
      @media (max-width: $md2) {
         position: relative;
         left: 0;
         flex: 1 1 100%;
         background-color: #fff;
         border-radius: 0;
         padding: 10px 0px 0px 20px;
         margin: 0px 0px 20px 0px;
         display: none;
      }
   }

   // .menu__dropdown-row
   &__dropdown-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media (max-width: $md2) {
         display: block;
      }
   }

   // .menu__dropdown-column
   &__dropdown-column {
      margin: 0px 0px 15px 0px;
   }

   // .menu__dropdown-title
   &__dropdown-title {
      font-size: 22px;
      line-height: 33px;
      font-weight: 500;
      color: #c1c8ce;
      margin: 0px 0px 12px 0px;
   }

   // .menu__dropdown-categories
   &__dropdown-categories {
      display: flex;
      @media (max-width: $md2) {
         display: block;
      }
   }

   // menu__dropdown-subcolumn
   &__dropdown-subcolumn {
      margin: 0px 30px 0px 0px;
      &:last-child {
         margin: 0;
      }
      > li {
         margin: 0px 0px 20px 0px;
         &:last-child {
            margin: 0;
         }
      }
      @media (max-width: $md2) {
         margin: 0px 0px 20px 0px;
      }
   }

   // .menu__dropdown-link
   &__dropdown-link {
      display: inline-block;
      font-size: 16px;
      line-height: 24px;
      color: $main-black;
      max-width: 150px;
      @media (min-width: $md2) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
